<!DOCTYPE html>
<html>
<head>
    <title>Teacher Dashboard</title>
    <link rel="stylesheet" href="dashboard.css">
</head>
<body>
    <div class = "header">
        <div>Welcome, {{ current_user.username }} (Teacher)</div>
        <div><h2>ACME University</h2></div>
        <div><a href="{{ url_for('main.logout') }}">Sign Out</a></div>
    </div>

    <div class = "content">
        <div class="tab-header">
            <div class = "tab active" onclick = "switchTab('your-courses')">Your Courses</div>
    </div>

    <div id = "your-courses" class="tab-content active">
        <table>
            <thead>
                <tr>
                    <th>Course Name</th>
                    <th>Teacher</th>
                    <th>Time</th>
                    <th>Students Enrolled</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a href="{{ url_for('course_details', course_id='physics121') }}">Course 101</a></td>
                    <td>professor</td>
                    <td>time</td>
                    <td>0/10</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
